@model ICollection<SavvyDB.Models.Product>
@{ 
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h1 class="display-4">Savvy Stationery </h1>
<div class="Introduction"> Welcome to Savvy Stationary! Browse our selection of wonderful goodies!</div>
@*@{foreach (var Product in Model)
    {
       @Product.Productid @Product.Cost @Product.Name
    }
}
*@
</div>



